<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-900 text-white p-10">

    <a href="/" class="text-blue-500">← Back</a>

    <h1 class="text-3xl mt-5 mb-3"><%= filename %></h1>

    <p class="bg-zinc-800 p-5 rounded-md">
        <%= filedata %>
    </p>

</body>
</html>